html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 5px;
  border-bottom: 2px solid #ccc;
  z-index: 1000;
}

html {
  scroll-padding-top: 160px; /* altura do header fixo */
}

button.tab {
  flex: 1 1 45%;
  margin: 5px;
  padding: 25px 10px;
  font-size: 1.2em;
  border: 2px solid #999;
  border-radius: 12px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

button.tab:hover {
  background-color: #cfcfcf;
  border-color: #555;
}

main {
  padding-top: 160px; /* espaço pro header fixo */
  max-width: 700px;
  margin: auto;
}

section {
  position: relative;
  margin-bottom: 60px;
  padding: 0 20px;
}

section::before {
  content: "";
  display: block;
  height: 160px;        /* altura do header fixo */
  margin-top: -160px;   /* negativo da altura para puxar o scroll antes */
  visibility: hidden;
  pointer-events: none; /* para evitar interação */
}

section h2 {
  font-size: 1.6em;
  margin-bottom: 15px;
}

section ul {
  padding-left: 20px;
  list-style-type: disc;
}

section ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
}
